html {
    font-size: 14px;
    color: white
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1B1B1E;
    color: white
}

.rounded-4 {
    border-radius: 1rem !important;
}

.bg-opacity-3 {
    --bs-bg-opacity: 0.03;
}

.index {
    padding: 2rem;
    margin: 1rem 0rem 1rem 0rem;
}

.place-bet-button {
    padding: 0.3rem 3rem 0.3rem 3rem;
}
